body{
  
}
main{
  
  padding: 30px;
}

#text-content{
  
  width: 50%;
  margin: auto;
  text-align: center;
}
h1{
text-align: center;

}
section{
  
  width: 40%;
  display: inline-block;
}
p{
  
  width: 89%;
  margin: auto;
  margin-bottom: 10px;
  text-align: justify;
}
